body{
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

#shape{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    box-shadow: 0 0 20px rgba(151, 151, 151, 0.5);
}

#shape:hover{
    opacity: 0.8;
    cursor: pointer;
}

#btnRefresh{
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

#btnRefresh:hover{
    opacity: 0.5;
}

.reactionTime{
    border: 1px solid yellowgreen;
    background-color: navy;
    padding: 5px;
    margin-right: 10px;
}

#best{
    /* float: right; */
    border: 1px solid yellow;
    background-color: brown;
    padding: 5px;
    margin-right: 10px;
}




